 #section {
     background: #7e6488;
     width: 500px;
     margin: auto;
     padding: 15px;
 }
 /*
#canvas {
    width: 400px;
    height: 400px;
    border: 1px solid rgba(44, 44, 33, .9);
    background-color: #f1f1f1;
    margin-left: 50px;
} */
 
 canvas {
     border: 1px solid #d3d3d3;
     background-color: #f1f1f1;
 }